/* cryptoCard.css */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.trending-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.centered {
  text-align: center;
}

.card {
  flex: 0 0 auto;
  margin-right: 10px;
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card h3 {
  font-size: 20px;
  margin: 10px 0;
}

.card p {
  font-size: 15px;
  color: #666;
  margin: 5px 0;
}

.bold-text {
  font-weight: bold;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.thumbnail {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden; /* Hide any potential image overflow */
}

.thumbnail img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.scrollable-container {
  margin-left: 250px;
  display: flex;
  flex-wrap: wrap;
  max-height: 860px;
  overflow-y: auto;
}
