.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
}

.container {
    margin-left: 210px;
    margin-right: 210px;
}

.card-body {
    text-align: left;
    padding-left: 0;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
}

#chart {
    padding-top: 5px;
    padding-bottom: 10px;
}
  
#percent {
    color: green;
    line-height: 5pt;
    font-size: 14px;
    padding-top: 10px;
}
  
#amount {
    margin-top: 3px;
    line-height: 5pt;
}
  